html,
body {
  height: 99%;
  margin: 0;
}

#top-page {
  width: 100%;
  height: 20%;
  display: inline-flex;
  color: black;
  border-color: lightslategray;
  border-style: double;
  background-color: lightcyan;
}
#top-page-left {
  width: 70%;
  text-align: center;
}

#top-page-right {
  width: 30%;
  text-align: center;
}

#page-down {
  width: 100%;
  height: 80%;
  display: inline-flex;
  border-color: brown;
  border-style: double;
  background-color: lightslategrey;
}

#page-down-majtas {
  width: 10%;
  text-align: center;
}
#page-down-djathtas {
  width: 90%;
  display: inline-flex;
}

#todo-part {
  width: 33%;
  margin-left: 3px;
}

#doing-part {
  width: 33%;
  margin-left: 3px;
}

#done-part {
  width: 33%;
  margin-left: 3px;
}

th {
  text-align: center;
}

table,
th,
td {
  border-collapse: collapse;

  padding: 3%;
  text-align: center;
}

.button {
  margin-top: 4%;
  border-radius: 12px;
  background-color: lightskyblue;
  border: 2px solid lightgrey;
  cursor: pointer;
  font-size: 160%;
  font-family: Arial, Helvetica, sans-serif;
}

.buttonansore {
  background-color: lightblue;
  border: 2px solid lightgrey;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 6%;
  margin-bottom: 5%;
  font-size: 70%;
  font-family: "Courier New", Courier, monospace;
  margin-top: 35%;
}
