* {
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../FOTO/home2.jpg");

  height: 100vh;
  background-size: cover;
  background-position: top;
  margin-top: -10px;
}

/* video {
  height: 500hv;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);

  
  
} */

ul {
  list-style-type: none;
  float: left;
  margin-top: 25px;
}
ul li {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  color: #fff;
}

ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.logo img {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  margin-right: 10px;
  margin-left: 10px;
}
.nav {
  margin-top: 10px;
  margin-left: 5px;
}

.nav2 {
  float: right;
  margin-top: 11px;
}

ul li.active a {
  background-color: white;
  color: rgb(68, 173, 206);
}

ul li a:hover {
  background-color: white;
  color: rgb(68, 173, 206);
  transition: 0.6s ease;
}

.main {
  max-width: 1200px;
  margin: auto;
}

.title {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #fff;
  font-family: Century Gothic;
  font-weight: lighter;
}

.search {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.search a {
  margin-left: 10px;
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.search a:hover {
  background-color: white;

  color: rgb(68, 173, 206);
  transition: 0.6s ease;
}

input {
  width: 150px;
  height: 30px;
  border: transparent;
  border-radius: 80px;
}

.about {
  position: absolute;
  top: 40%;
  left: 10%;

  width: 500px;
}

.about h1,
h4 {
  color: white;
  font-family: Century Gothic;
  font-weight: lighter;
}

#map {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

img {
  float: left;
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-right: 10px;
  margin-left: 10px;
}

.contact {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.contact ul li a:hover {
  background-color: transparent;
  color: transparent;
  transition: 0.6s ease;
}

.menu {
  position: relative;
}

#dd {
  background: none;
  border: none;
  color: white;
  font-size: unset;
  margin: 5px;
  border-radius: 5px;
  padding: 6px;
}

#dd:hover {
  background: white;
  border: none;
  color: rgb(68, 173, 206);
  font-size: unset;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.6s ease;
}

.menu ul {
  position: absolute;
  background: white;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s ease;
  transform: translateY(-10px);
}

.menu a {
  color: rgb(68, 173, 206);
  background: white;
  margin-top: 10px;
}

.menu ul li a:hover {
  background: rgb(68, 173, 206);
  border: none;
  color: white;
  font-size: unset;

  align-items: center;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#dd:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
